<main>
  <h1 class="error">404 - Page not found</h1>
  <div class="error">

    <p>Sorry, but the page you want to access does not exist.</p>

    {{#if loggedUser}}
      <p>If you're a really good friend to the site administrators and you feel
        that such a page should be available, you may buy them a coffe and meet
        them to discuss it.</p>
    {{else}}
      <p>Sometimes the best way to proceed is to start over. You may return to
        the
        <a href="/">home page.</a></p>
    {{/if}}

  </div>
</main>