<main>
  <form class="login-form" enctype="multipart/form-data" method="post" action="/auth/login">
    <h1>Access your gaming account</h1>

    <div class="container">
      <div class="element">
        <label for="user"><b>User</b></label>
        <input id="user" type="text" name="user" required value="{{body.user}}" />
      </div>

      {{#if errors}}
      <p class="error">{{error}}</p>
      {{/if}}

      <div class="element">
        <label for="password"><b>Password</b></label>
        <input id="password" type="password" name="password" required />
      </div>

      {{#if errors}}
      <p class="error">{{error}}</p>
      {{/if}}

      <div class="element">
        <button type="submit" class="login-btn">Login</button>
      </div>
    </div>

    <div id="register-prompt">
      <p>Don't have an account yet? Please
        <a href="/auth/register">register.</a>
      </p>
    </div>
  </form>

</main>